.pacientes-bg {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f5f5ea;
}
.pacientes {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.texto-pacientes {
  border-bottom: 1px solid #e8ae35;
  padding-bottom: 20px;
}
.pacientes h2,
p {
  text-align: center;
}

.pacientes h2 {
  margin-bottom: 20px;
}

.prova-social {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.prova-social li img {
  width: 500px;
  height: 500px;
  display: block;
  border: 2px solid #e8ae35;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.pacientes a {
  place-self: center;
}

.label {
  margin-top: 40px;
  background: linear-gradient(62deg, #8a671e 0%, #e8ae35 100%);
  place-self: center;
  padding: 6px 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 4px;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 1.125rem;
  font-family: Arial, Helvetica, sans-serif;
}

.texto-social {
  margin-top: 20px;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .prova-social li img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
