.servico-bg {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f5f5ea;
}

.cards img {
  width: 48px;
  height: 48px;
  border: 2px solid #cf9e39;
  border-radius: 50%;
}

.contador ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cards-contador {
  margin-bottom: 40px;
}

.cards-contador li {
  background: #fdf5e6;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 12px 24px;
  min-height: 150px;
  text-align: center;
  margin-bottom: 8px;
  min-width: 300px;
}

.contador li {
  font-size: 4.5rem;
}

.titulo-contador {
  font-size: 1.5rem;
}

.contador ul li {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.contador .titulo-contador {
  text-align: center;
}

.servico {
  padding-left: 20px;
  padding-right: 20px;
}

.servico h2 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
}

.texto-servico {
  text-align: center;
  margin-bottom: 40px;
  max-width: 75ch;
}

.servico .servico-texto {
  display: flex;
  flex-direction: column;
}

.servico .botao {
  align-self: center;
}

@media (max-width: 600px) {
  .cards {
    margin-bottom: 40px;
  }

  .contador ul {
    flex-direction: column;
  }
}

@media (max-width: 340px) {
  .cards-contador li {
    min-width: 100px;
  }
}
