.servico-bg {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f5f5ea;
}
.servico {
  padding-left: 20px;
  padding-right: 20px;
}

.servico h2 {
  margin-bottom: 20px;
  font-weight: 700;
}

.texto-servico {
  margin-bottom: 40px;
  max-width: 75ch;
}

.servico .servico-texto {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  flex-wrap: wrap;
  gap: 16px;
}

.cards li {
  background: #fdf5e6;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  border-radius: 8px;
  height: 150px;
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards li img {
  margin-bottom: 8px;
}

.cards li p {
  text-align: center;
}

.cards img {
  display: block;
  height: 40px;
  width: 40px;
}

.servico .botao {
  align-self: center;
}

@media (max-width: 600px) {
  .cards {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
  }
}
