.apresentacao {
  display: flex;
  flex-direction: column;
}

.apresentacao a {
  align-self: center;
}

.sobre {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.sobre h2 {
  text-align: center;
  margin-bottom: 20px;
}

.texto-sobre {
  margin-bottom: 20px;
  max-width: 75ch;
}

.sobre .case {
  display: flex;
  justify-content: space-evenly;
}

.text-chamada {
  font-weight: 700;
  margin-top: 40px;
  text-align: center;
}

.sobre a {
  text-align: center;
}

.cards {
  margin-bottom: 40px;
}

.card-beneficios li {
  font-size: 1.125rem;
  color: var(--cor-p1);
  text-align: center;
  font-weight: bold;
  font-family: 'Old Standard TT', sans-serif;
}

.card-beneficios li + li {
  margin-top: 6px;
}

.estilo-cards {
  font-family: Arial, Helvetica, sans-serif;
}

.card-especial {
  background: linear-gradient(-2deg, #8a671e 0%, #e8ae35 100%);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: #fff;
}
