.apresentacao {
  display: flex;
  flex-direction: column;
}

.apresentacao a {
  align-self: center;
}

.sobre {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.sobre h2 {
  text-align: center;
  margin-bottom: 20px;
}

.texto-sobre {
  margin-bottom: 20px;
  max-width: 75ch;
}

.sobre .case {
  display: flex;
  justify-content: space-evenly;
}

.text-chamada {
  font-weight: 700;
  margin-top: 40px;
  text-align: center;
}

.sobre a {
  text-align: center;
}

.cards {
  margin-bottom: 40px;
}

.cards .item {
  position: relative;
  box-sizing: border-box;
}

.card-beneficios {
  margin-top: 10px;
}

.card-beneficios li {
  font-size: 1.125rem;
  color: var(--cor-p1);
  text-align: center;
  font-weight: bold;
  font-family: 'Old Standard TT', sans-serif;
}

.card-beneficios li + li {
  margin-top: 6px;
}

.card-beneficios li {
  gap: 4px;
}

.card-beneficios li::before {
  content: '';
  background-image: url(../../img/lista.svg);
  background-repeat: no-repeat;
  width: 13px;
  height: 9px;
  display: inline-block;
}

.estilo-cards {
  font-family: Arial, Helvetica, sans-serif;
}

.card-especial {
  background: #e8ae35;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: #fff;
}

.cards h3 {
  font-weight: bold;
}

.cards .item {
  min-height: 280px;
  max-width: 100%;
  padding: 2rem;
}

@media (max-width: 700px) {
  .cards .item {
    font-size: 0.875rem;
  }
}

.preco {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #fff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  padding: 0.5rem;
  background: #ee5544;
  border-radius: 0px 0px 0px 4px;
}
